<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to "kr zubair khan", "https://www.linkedin.com/in/kr-zubair-khan-742614204/", class: "text-white",id: "myname"%></small>
</div>
</footer>